<div class="max-w-sm w-full lg:max-w-full lg:flex">
  <div
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    style="text-align: end; cursor: pointer"
    (click)="onClickCloseButton()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="close"
    ></mat-icon>
  </div>

  <img
    class="blog_posts_post--image"
    [src]="'./assets/apple.jpg'"
    loading="lazy"
  />
  <div class="price-label">
    <h3 class="price-text">Price : $100</h3>
  </div>

  <h2>{{ productName() }}</h2>
  <p class="product-description">
    {{ productDescription() }}
  </p>
  <button
    mat-flat-button
    style="background-color: rgb(0, 132, 255); color: aliceblue"
  >
    Order
  </button>
  <ng-content> </ng-content>
</div>


